<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">
          <h1>{{ ticker.upper() }}</h1>
        <h3>Trend Forecast </h3>
        <div id='trend_chart_output' class="mb-5"></div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="recommendations">
             <strong class="mt-5">Weekly Estimates</strong> <br>
                Open Price : {{ estimates.open_price}} <br>
                Low Estimate : {{ estimates.low_estimate }}<br>
                High Estimate : {{ estimates.high_estimate }}
        </div>
      </div>



      </div>
    </div>
    <div>

    </div>

    <div class="mt-5">

    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var trend_chart_output = {{trend_chart_output | safe}};
  Plotly.plot('trend_chart_output',trend_chart_output,{});
  {##}
  {#var price_chart = {{price_chart | safe }}#}
  {#Plotly.plot('price_chart',price_chart,{});#}
  {##}
  {#var daily_price_chart = {{daily_price_chart | safe }}#}
  {#Plotly.plot('daily_price_chart',daily_price_chart,{});#}
</script>
</html>