<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container justify-content-center">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">
          <h1>{{ ticker.upper() }}</h1>
        <h3>Trend Forecast </h3>
        <div id='trend_chart_output' ></div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="recommendations">
             <strong class="mt-5">Weekly Estimates</strong> <br>
                Open Price : {{ estimates.open_price}} <br>
                Low Estimate : {{ estimates.low_estimate }}<br>
                High Estimate : {{ estimates.high_estimate }}
        </div>
      </div>



      </div>

    <div>

    </div>

        <div class="row">
{#            <div class="col-lg-4 col-md-4 col-sm-12">#}
                <div id="high_low_chart_output">

                </div>
{#            </div>#}
        </div>

        <div class="row">
            <h3>Volumes</h3>
            <p>Total volume calls : {{ options_metrics.totalVolumeCalls }}%</p>
            <p>Total volume puts : {{ options_metrics.totalVolumePuts }}%</p>

            <div id="volumes_chart"></div>
        </div>
      <div class="row">
            <h3>Open Interest</h3>
                      <p>Total open interest calls : {{ options_metrics.totalInterestCalls }}%</p>
            <p>Total open interest puts : {{ options_metrics.totalInterestPuts }}%</p>
            <div id="open_interest_charts"></div>
        </div>
</div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var trend_chart_output = {{trend_chart_output | safe}};
  Plotly.plot('trend_chart_output',trend_chart_output,{});
   var high_low_chart_output = {{high_low_chart_output | safe}};
  Plotly.plot('high_low_chart_output',high_low_chart_output,{});

  var calls_chart_output = {{ calls_chart_output | safe }};
  Plotly.plot("volumes_chart", calls_chart_output)

   var puts_chart_output = {{ puts_chart_output | safe }};
  Plotly.plot("open_interest_charts", puts_chart_output)

</script>
</html>